# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Software Musings
email: juliuskrah@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  Web development blog that uses JavaEE and other related web technologies
  with a strong emphasis on Spring, Thymeleaf, Websockets and Microservices
baseurl: "" # the subpath of your site, e.g. /blog
permalink: /:categories/:year/:month/:day/:title/
url: "http://juliuskrah.com" # the base hostname & protocol for your site
author: juliuskrah
twitter:
  username: juliuskrah

# Facebook settings
# facebook:
#   app_id: 1234
#   publisher: 1234
#   admins: 1234

# Replace with logo stored on Imgur
# logo: http://imgur.com/juliuskrah/assets/android-icon-192x192.png

social:
  name: Julius Krah
  links:
    - https://twitter.com/juliuskrah
    - https://www.linkedin.com/in/juliuskrah
    - https://github.com/juliuskrah
    - http://stackoverflow.com/users/6157880/julius-krah
    - https://plus.google.com/+JuliusKrah

# Google site verification for verifying ownership via Google webmaster tools
# google_site_verification: 1234

# Image customization
# image:
#   twitter: /img/twitter.png
#   facebook: /img/facebook.png
#   height: 100
#   width: 100

disqus:
  shortname: juliuskrah
google_analytics: UA-86031412-1
infolinks_pid: 2956258
infolinks_wsid: 0
github_username:  juliuskrah
stackoverflow_link: users/6157880/julius-krah
repository: juliuskrah/juliuskrah.github.io
# plugins: Change from `gems` to `plugins` after upgrade to jekyll 3.5.0
gems:
  - jemoji
  - jekyll-mentions
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-github-metadata

# Default is https://github.com
jekyll-mentions:
  base_url: https://twitter.com

# Build settings
markdown: kramdown
# kramdown:
  # Enable GitHub Flavored Markdown (fenced code blocks)
  # input: GFM
  # Disable auto-generated ID's for headings
  # auto_ids: false
theme: minima
exclude:
  - README.md
  - .gitignore
  - [vendor]
# Travis bundles all gems in the vendor directory on its build servers, which Jekyll will mistakenly read and explode on.

# Custom collection for post tags
collections:
  blog_tags:
    output: true
    permalink: /tag/:name/

# Specifies where the layouts for custom collection is located
defaults:
  - scope:
      path: ""
      type: blog_tags
    values:
      layout: tag
